USE [_box001]
GO
/****** Object:  StoredProcedure [crm].[ext_SupplyMonitor]    Script Date: 29.05.2026 13:46:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Монитор закупок
*/

ALTER PROCEDURE [crm].[ext_SupplyMonitor]
	@RegID			int=null,
	@ActionID		int,
	@IsDeficitOnly	bit=null,
	@ClientOrderID	int=null,
	@ItemID			int=null,
	@ClientID		int=null,
	@Result			varchar(150)=null output
AS

set nocount on
set @Result = 'OK'

-- Список заказов клиентов
if @ActionID = 1 begin
	select    t1.ClientOrderID
			, t1.DocNumber
			, t1.DocDate
	from crm.ClientOrder t1
	where t1.CloseDoc is null
		and t1.CloseDate is null
union all
	select null, '<Все>', null
	order by t1.DocDate
			, t1.ClientOrderID
end

-- Номенклатурные позиции к закупке
if @ActionID = 2 begin
	select    t2.ItemID
			, t2.ItemCode
			, t2.ItemName
			, t2.ItemSymbol
			, t21.Shorten AS MeasureName
			, t1.DemandQty
			, t1.OutQty
			, t1.FixQty
			, t1.DemandQty - IsNull(t1.OutQty, 0) - IsNull(t1.FixQty, 0) AS NetQty
			, t1.ClientOrderCount
			, t1.RestQty
			, t1.RestString
			, t2.MinRest
			, t1.OrderedQty AS NotReceivedQty
			-- ToSupply (с остатком только склада сМ)
			, cast(t1.DemandQty - IsNull(t1.OutQty, 0) - IsNull(t1.FixQty, 0) - IsNull(t1.StockQty, 0) - IsNull(t1.OrderedQty, 0) + IsNull(t2.MinRest, 0) as money) AS ToSupply
			-- старая версия
			--, cast(t1.DemandQty - IsNull(t1.OutQty, 0) - IsNull(t1.FixQty, 0) - IsNull(t1.RestQty, 0) - IsNull(t1.OrderedQty, 0) + IsNull(t2.MinRest, 0) as money) AS ToSupply
			, t11.ClientName
			, t22.Shorten AS WrhName
			, Cast(0 as bit) AS IsSelected
			, t2.ItemName AS OrderByItemName
			, 0 AS IsAnalogPosition
	from dbo.GetItemTotals(null, @ClientOrderID) t1
		join dbo.Item t2 (nolock) on t1.ItemID = t2.ItemID
		join dbo.Measure t21 (nolock) on t2.MeasureID = t21.MeasureID
		left join dbo.Department t22 (nolock) on t2.WrhDepID = t22.DepartmentID	
		-- Основной поставщик
		left join crm.Client_Item t10 (nolock) on t2.ItemID = t10.ItemID and t10.IsMain = 1
		left join crm.Client t11 (nolock) on t10.ClientID = t11.ClientID
	where (IsNull(@IsDeficitOnly, 0) = 0		-- Показываем всю потребность, без анализа остатков
		-- Только дефицит
		or (@IsDeficitOnly = 1 and
			(t1.DefcitQty > IsNull(t1.RestQty, 0) - IsNull(t2.MinRest, 0) + IsNull(t1.OrderedQty, 0)						-- Нетто-потребность больше остатков с учетом минимального запаса и задолженности поставщиков
				or ((@ClientOrderID is null and t1.RestQty < t2.MinRest) or (@ClientOrderID is not null and 0=1)))))		-- Остаток меньше минимального запаса
		and (@ClientOrderID is null or t1.DemandQty > 0)		-- Если выбран заказ клиента, показываем только номенклатуру с брутто
	union all
	select    t2.ItemID
			, '     ' + t2_2.ItemCode
			, '     ' + t2_2.ItemName
			, '     ' + t2_2.ItemSymbol
			, t21.Shorten AS MeasureName
			, t1.DemandQty
			, t1.OutQty
			, t1.FixQty
			, t1.DemandQty - IsNull(t1.OutQty, 0) - IsNull(t1.FixQty, 0) AS NetQty
			, t1.ClientOrderCount
			, t30.AnalogRestQty AS RestQty
			, t30.AnalogRestString AS RestString
			, t2.MinRest
			, t1.OrderedQty AS NotReceivedQty
			-- ToSupply (с остатком только склада сМ)
			, cast(t1.DemandQty - IsNull(t1.OutQty, 0) - IsNull(t1.FixQty, 0) - IsNull(t1.StockQty, 0) - IsNull(t1.OrderedQty, 0) + IsNull(t2.MinRest, 0) as money) AS ToSupply
			, t11.ClientName
			, t22.Shorten AS WrhName
			, Cast(0 as bit) AS IsSelected
			, t2.ItemName AS OrderByItemName
			, 1 AS IsAnalogPosition
	from dbo.GetItemTotals(null, @ClientOrderID) t1
		join dbo.Item t2 (nolock) on t1.ItemID = t2.ItemID
		join dbo.Item_Replacement t2_1 on t2.ItemID = t2_1.ItemID
		join dbo.Item t2_2 (nolock) on t2_1.ReplacementItemID = t2_2.ItemID
		join dbo.Measure t21 (nolock) on t2.MeasureID = t21.MeasureID
		left join dbo.Department t22 (nolock) on t2.WrhDepID = t22.DepartmentID	
		-- Основной поставщик
		left join crm.Client_Item t10 (nolock) on t2.ItemID = t10.ItemID and t10.IsMain = 1
		left join crm.Client t11 (nolock) on t10.ClientID = t11.ClientID
		outer apply (
			select s1.RestQty AS AnalogRestQty, s1.RestString AS AnalogRestString
			from wrh.GetRest(t2_1.ReplacementItemID, null, 0) s1
		) t30
	where (IsNull(@IsDeficitOnly, 0) = 0		-- Показываем всю потребность, без анализа остатков
		-- Только дефицит
		or (@IsDeficitOnly = 1 and
			(t1.DefcitQty > IsNull(t1.RestQty, 0) - IsNull(t2.MinRest, 0) + IsNull(t1.OrderedQty, 0)						-- Нетто-потребность больше остатков с учетом минимального запаса и задолженности поставщиков
				or ((@ClientOrderID is null and t1.RestQty < t2.MinRest) or (@ClientOrderID is not null and 0=1)))))		-- Остаток меньше минимального запаса
		and (@ClientOrderID is null or t1.DemandQty > 0)		-- Если выбран заказ клиента, показываем только номенклатуру с брутто
	order by OrderByItemName, IsAnalogPosition
end

-- Расшифровка потребности по номенклатурной позиции
if @ActionID = 3 begin
	exec dbo.obc_Item_Totals @ActionID=1, @ItemID=@ItemID
end

-- Получение справочника поставщиков (контрагентов)
if @ActionID = 4 begin
	select ClientID, ClientName from  crm.Client
end

-- Смена основного поставщика (контрагента) для n-ых заказов
if @ActionID = 5 begin
    merge into crm.Client_Item as target
    using (select @ClientID as ClientID, @ItemID as ItemID) as source
    on target.ClientID = source.ClientID and target.ItemID = source.ItemID
    when matched then
        update set IsMain = 1, EffectiveDate = getdate()
    when not matched then
        insert (ClientID, ItemID, IsMain, EffectiveDate) values (source.ClientID, source.ItemID, 1, getdate());
    
    -- Для всех остальных записей с таким же ItemID ставим IsMain = 0
    update crm.Client_Item 
    set IsMain = 0 
    where ItemID = @ItemID 
        and ClientID <> @ClientID
end

-- Получение справочника складов
if @ActionID = 6 begin
	select DepartmentID, Shorten AS WrhName from dbo.Department
end