USE [_box001]
GO
/****** Object:  UserDefinedFunction [dbo].[GetItemTotals]    Script Date: 25.05.2026 20:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Вычисляем:
- Брутто-потребность по всем незакрытым заказам клиентов
- Выдано по всем незакрытым заказам клиентов (с учетом возвратов)
- Резерв по всем незакрытым заказам клиентов
- Текущий складской остаток
- Заказано у поставщиков (с учетом переработчиков)

Чтобы можно было посчитать:
- Дефицит = Б - В - Р
- Свободный остаток = Остаток - (Б - В)
- Свободный остаток + Заказано
*/

CREATE OR ALTER FUNCTION [dbo].[GetItemTotals](@ItemID int, @ClientOrderID int)
RETURNS 
@res TABLE 
(
	ItemID		int,
	DemandQty	decimal(18,9),		-- Брутто-потребность по всем незакрытым заказам клиентов
	OutQty		decimal(18,9),		-- Выдано по всем незакрытым заказам клиентов (с учетом возвратов)
	FixQty		decimal(18,9),		-- Резерв по всем незакрытым заказам клиентов
	RestQty		decimal(18,9),		-- Текущий складской остаток
	StockQty	decimal(18,9),		-- Текущий остаток на складе СкМ
	OrderedQty	decimal(18,9),		-- Заказано у поставщиков (с учетом переработчиков)
	ToDate		date,				-- Ожидаемая дата поставки (самая ранняя) по заказам поставщикам (подтвержденным)
	DefcitQty	decimal(18,9),
	RestString	varchar(150),
	ClientOrderCount int			-- Количество заказов клиентов для брутто
)
AS
BEGIN
	-- фиксируем заказы клиентов, чтобы исключить попадание в статистику данных по закрытым заказам
	declare @clientorder table (ClientOrderID int, index I_@clientorder clustered (ClientOrderID))
	insert @clientorder
		select t1.ClientOrderID
		from crm.ClientOrder t1 (nolock)
		where t1.CloseDoc is null		-- Заказ клиента не закрыт
			and t1.CloseDate is null	-- Заказ клиента не закрыт
			and (@ClientOrderID is null or t1.ClientOrderID = @ClientOrderID)
	-- Временная таблица для расчета ВЫДАНО (брутто потребность по заказам)
	declare @demand2 table (ClientOrderID int, ItemID int, DemandQty decimal(18,9), index I_demand2 clustered (ClientOrderID, ItemID))
	insert @demand2 
		select    t0.ClientOrderID
					, t1.ItemID
					, sum(dbo.MeasureRecalc(t1.ItemID, t1.DemandQty, t1.MeasureID, t3.MeasureID)) AS DemandQty
			from @clientorder t0 
				join crm.ClientOrder_Demand t1 (nolock) on t0.ClientOrderID = t1.ClientOrderID
				join dbo.Item t3 (nolock) on t1.ItemID = t3.ItemID
			where (@ItemID is null or t1.ItemID = @ItemID)
			group by t1.ItemID, t0.ClientOrderID

	-- Используем временную таблицу, определенную как ТИП typeTable_ItemID_Qty - оптимизированную для использования в памяти
	declare @out typeTable_ItemID_Qty
	insert @out
		select    IsNull(t4.ItemID, t2.ItemID) AS ItemID
				-- Суммируем выдачу только в рамках потребности. Сверхпотребность убираем. Предварительно корректируем выданное количество на возвраты
				, sum(cast(dbo.MinOf(t2.BaseQty + IsNull(t15.ReturnQty, 0), t20.DemandQty) as decimal(18,9))) AS OutQty
		from wrh.docs t1 (nolock)
			join wrh.docrows t2 (nolock) on t1.DocID = t2.DocID
			left join wrh.Request t3 (nolock) on t1.RequestID = t3.RequestID
			left join wrh.RequestRow t4 (nolock) on t3.RequestID = t4.RequestID and t2.RequestRowID = t4.RequestRowID
			join @clientorder t10 on IsNull(t3.ClientOrderID, t1.ClientOrderID) = t10.ClientOrderID
			-- Возвраты учитываем по строкам выдачи
			left join (		
				select s2.Doc12_ReturnDocRowID AS DocRowID /*ссылка на строку ТН, по которой выполнена выдача*/, sum(s2.BaseQty) AS ReturnQty /*С минусом*/
				from wrh.docs s1 (nolock)
					join wrh.docrows s2 (nolock) on s1.DocID = s2.DocID
				where s1.DocTypeID = 12 /*Накладная на возврат*/
					and s1.IsDeleted = 0
					and s2.IsDeleted = 0
					and (@ItemID is null or s2.ItemID = @ItemID)
				group by s2.Doc12_ReturnDocRowID
			) t15 on t2.DocRowID = t15.DocRowID
			-- Считаем Брутто-потребность по заказам для ограничения выданного количества. Join убирает выдачу сверхпотребности
			inner loop /*для ускорения*/ join @demand2 t20  on IsNull(t4.ItemID, t2.ItemID) = t20.ItemID AND IsNull(t3.ClientOrderID, t1.ClientOrderID) = t20.ClientOrderID 
		where t1.DocTypeID = 5 /*ТН*/
			and t1.IsDeleted = 0
			and t2.IsDeleted = 0
			and (@ItemID is null or IsNull(t4.ItemID, t2.ItemID) = @ItemID)
		group by IsNull(t4.ItemID, t2.ItemID)


	insert @res
		select    coalesce(t1.ItemID, t2.ItemID/*, t3.ItemID*/, t4.ItemID, t5.ItemID, t6.ItemID, t7.ItemID) AS ItemID
				, nullif(t1.DemandQty, 0)
				, nullif(IsNull(t2.OutQty, 0) /*- IsNull(t3.ReturnQty, 0)*/ + IsNull(DeltaOutQty, 0), 0) AS OutQty
				, nullif(t4.FixQty, 0)
				, nullif(t5.RestQty, 0)
				, nullif(t5.StockQty, 0)
				, nullif(IsNull(t6.OrderedQty, 0) + IsNull(t7.OrderedQty, 0), 0) AS OrderedQty
				, t6.ToDate
				, nullif(IsNull(t1.DemandQty, 0) - IsNull(t2.OutQty, 0) /*+ IsNull(t3.ReturnQty, 0)*/ - IsNull(DeltaOutQty, 0) - IsNull(t4.FixQty, 0), 0) AS DeficitQty
				, t5.RestString
				, t1.ClientOrderCount
		from (	
				-- Брутто-потребность по всем незакрытым заказам клиентов ------------------------------------------
				select    t1.ItemID  
						, sum(dbo.MeasureRecalc(t1.ItemID, t1.DemandQty, t1.MeasureID, t3.MeasureID)) AS DemandQty
						, count (distinct t1.ClientOrderID) AS ClientOrderCount
				from @clientorder t0 
					join crm.ClientOrder_Demand t1 (nolock) on t0.ClientOrderID = t1.ClientOrderID
					join dbo.Item t3 (nolock) on t1.ItemID = t3.ItemID
				where (@ItemID is null or t1.ItemID = @ItemID)
				group by t1.ItemID
		) t1
				-- Выдано по всем незакрытым заказам клиентов ------------------------------------------------------
				-- Надо только в рамках Брутто-потребности, без превышения Брутто (иначе получится минус, который нивелирует другие заказы)
			full join (select ItemID, Qty AS OutQty from @out) t2 on t1.ItemID = t2.ItemID
-- старый алгоритм учета возвратов. Давал ошибку, если была перевыдача и возврат одновременно
		--	full join (
		--		-- Возвраты по всем незакрытым заказам клиентов ----------------------------------------------------
		--		select t2.ItemID
		--				, -sum(t2.BaseQty) AS ReturnQty
		--		from wrh.docs t1 (nolock)
		--			join wrh.docrows t2 (nolock) on t1.DocID = t2.DocID
		--			join wrh.docrows t3 (nolock) on t2.Doc12_ReturnDocRowID = t3.DocRowID		-- ссылка на строку ТН, по которой сделан возврат
		--			join wrh.docs t4 (nolock) on t3.DocID = t4.DocID
		--			left join wrh.Request t5 (nolock) on t4.RequestID = t5.RequestID
		--			join @clientorder t10 on coalesce(t1.ClientOrderID, t4.ClientOrderID, t5.ClientOrderID) = t10.ClientOrderID
		--		where t1.DocTypeID = 12 /*Накладная на возврат из производства*/
		--			and t1.IsDeleted = 0
		--			and t2.IsDeleted = 0
		--			and t3.IsDeleted = 0
		--			and (@ItemID is null or t2.ItemID = @ItemID)
		--		group by t2.ItemID
		--) t3 on coalesce(t1.ItemID, t2.ItemID) = t3.ItemID
			full join (
				-- Резерв по всем незакрытым заказам клиентов ------------------------------------------------------
				select    t2.ItemID
						, sum(t1.BaseQty - IsNull(t1.OutQty, 0)) AS FixQty
				from wrh.FixRow t1 (nolock)
					join wrh.RequestRow t2 (nolock) on t1.RequestRowID = t2.RequestRowID
					join wrh.Request t3 (nolock) on t2.RequestID = t3.RequestID
					join @clientorder t10 on t3.ClientOrderID = t10.ClientOrderID
				where t1.BaseQty - IsNull(t1.OutQty, 0) > 0
					and (@ItemID is null or t2.ItemID = @ItemID)
				group by t2.ItemID
		) t4 on coalesce(t1.ItemID, t2.ItemID/*, t3.ItemID*/) = t4.ItemID
			full join (
				-- Текущие складские остатки -----------------------------------------------------------------------
				select t1.ItemID, t1.RestQty, t1.RestString, t1.StockQty
				from wrh.GetRest(@ItemID, null, 0) t1
				where @ItemID is null or t1.ItemID = @ItemID
		) t5 on coalesce(t1.ItemID, t2.ItemID/*, t3.ItemID*/, t4.ItemID) = t5.ItemID
			full join (
				-- Заказано у поставщиков --------------------------------------------------------------------------
				select    t2.ItemID, sum(t2.NotReceivedQty) AS OrderedQty
						-- По доработке 302 - вычисляем дату ожидаемой поставке, если статус Подтвержден
						, min(case when t1.DocStateID between 40 /*Подтвержден*/ and 70 /*Получен частично*/ then IsNull(t2.ToDate, t1.DeliveryDate) else null end) AS ToDate
				from crm.docs t1 (nolock)
					join crm.docrows t2 (nolock) on t1.DocID = t2.DocID
				where t2.Qty - IsNull(t2.ReceivedQty, 0) > 0
					and t1.DocStateID > 10 /*Новый*/
					and t1.DocStateID < 100 /*Получен*/
					and (@ItemID is null or t2.ItemID = @ItemID)
				group by t2.ItemID
		) t6 on coalesce(t1.ItemID, t2.ItemID/*, t3.ItemID*/, t4.ItemID, t5.ItemID) = t6.ItemID
			full join (
				-- Заказано у переработчиков -----------------------------------------------------------------------
				select    IsNull(t2.ReturnItemID, t2.ItemID) AS ItemID
						, sum(t2.RowRest) AS OrderedQty
				from wrh.docs t1 (nolock)
					join wrh.docrows t2 (nolock) on t1.DocID = t2.DocID
					join dbo.Item t3 (nolock) on IsNull(t2.ReturnItemID, t2.ItemID) = t3.ItemID
				where t1.DocTypeID = 10 /*М15о*/
					and t1.IsDeleted = 0
					and t2.IsDeleted = 0
					and t2.RowTypeID & 2 > 0
					and t2.RowRest > 0
					and (@ItemID is null or IsNull(t2.ReturnItemID, t2.ItemID) = @ItemID)
				group by IsNull(t2.ReturnItemID, t2.ItemID)
		) t7 on coalesce(t1.ItemID, t2.ItemID/*, t3.ItemID*/, t4.ItemID, t5.ItemID, t6.ItemID) = t7.ItemID
			full join (
				-- Коррекция выданного количества по данным 1С -----------------------------------------------------
				-- В ТК из 1С выгружалось выданное по 1С количество, учитываем его (в плюс к Выдано)
				select    t2.ItemID
						, sum(t2.OutQty - IsNull(t3.OutQty, 0)) AS DeltaOutQty
				from @clientorder t0 
					join wrh.Request t1 (nolock) on t0.ClientOrderID = t1.ClientOrderID
					join wrh.RequestRow t2 (nolock) on t1.RequestID = t2.RequestID
					left join (
						select s1.RequestRowID, sum(s1.BaseQty) AS OutQty
						from wrh.docrows s1 (nolock)
						where s1.IsDeleted = 0
						group by s1.RequestRowID
					) t3 on t2.RequestRowID =t3.RequestRowID
				where IsNull(t2.OutQty, 0) != IsNull(t3.OutQty, 0)
				group by t2.ItemID
		) t8 on coalesce(t1.ItemID, t2.ItemID/*, t3.ItemID*/, t4.ItemID, t5.ItemID, t6.ItemID, t7.ItemID) = t8.ItemID
		where @ClientOrderID is null or t1.DemandQty > 0			-- Если задан заказ клиента, возвращаем данные только по брутто-потребности

	RETURN 
END
