USE [_box001]
GO
/****** Object:  StoredProcedure [mes].[rpt_ProdPlan_Task]    Script Date: 27.05.2026 16:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [mes].[rpt_ProdPlan_Task]
	@ProdPlanRowID		int=null
AS
set nocount on
	declare @PersonID int
	select @PersonID = PersonID from mes.ProdPlan where ProdPlanRowID = @ProdPlanRowID
	
	-- Работник
	select top 1 CONCAT(d.DepartmentName, ' / ', wc.WorkCenterName) as Department_WorkCenter, p.PersonName
	from dbo.Person p 
	join dbo.Department d on p.DepartmentID = d.DepartmentID
	join mes.WorkCenter wc on p.WorkCenterID = wc.WorkCenterID
	-- where PersonID = @PersonID

	-- Изделие
	SELECT top 1 o.DocNumber,
            p.ProcessName,
            do.OpName,
            pp.PlanStartTime,
            pp.PlanEndTime,
            pp.FullWorkTimeH,
            pp.Note
    FROM mes.ProdPlan pp (nolock)
    LEFT JOIN mes.Orders o (nolock) ON pp.OrderID = o.OrderID
    LEFT JOIN mes.Process p (nolock) ON pp.ProcessID = p.ProcessID
    LEFT JOIN mes.dir_Operation do (nolock) ON pp.OpID = do.OpID
    LEFT JOIN mes.WorkCenter wc (nolock) ON pp.WorkCenterID = wc.WorkCenterID
	--WHERE pp.ProdPlanRowID = @ProdPlanRowID;

	-- Комплектация изделия
	exec mes.sys_GetCompositionForPlan @ProdPlanRowID=@ProdPlanRowID