USE [_box001]
GO
/****** Object:  StoredProcedure [mes].[sys_RecalcProdPlanAfterDateChange]    Script Date: 25.05.2026 20:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [mes].[sys_RecalcProdPlanAfterDateChange]
		@ProdPlanRowID int,                    -- ID измененной позиции
		@NewPlanStartDate date,                -- Новая плановая дата запуска
		@Result varchar(150) = NULL OUTPUT,
		@Message varchar(150) = NULL OUTPUT
	AS
	SET NOCOUNT ON 
	SET DATEFORMAT DMY
	SET @Result = 'OK'

	BEGIN TRY
		DECLARE @OrderID int,
				@WorkCenterID int,
				@OldPlanStartDate date,
				@IsStartRow bit,
				@ErrorMessage nvarchar(400)

		-- Проверяем существование позиции
		IF NOT EXISTS (SELECT 1 FROM mes.ProdPlan WHERE ProdPlanRowID = @ProdPlanRowID)
		BEGIN
			SET @Result = 'Позиция плана производства не найдена'
			RETURN
		END

		-- Получаем данные по позиции
		SELECT @OrderID = OrderID, 
			   @WorkCenterID = WorkCenterID,
			   @OldPlanStartDate = PlanStartTime,
			   @IsStartRow = IsStartRow
		FROM mes.ProdPlan 
		WHERE ProdPlanRowID = @ProdPlanRowID

		-- Создаем временную таблицу для хранения зависимых позиций
		CREATE TABLE #DependentRows (ProdPlanRowID int PRIMARY KEY, StatusID int)

		-- Рекурсивно находим все позиции, которые зависят от изменяемой (включая саму изменяемую)
		;WITH DependentCTE AS (
			-- Начальная позиция
			SELECT ProdPlanRowID, NextProdPlanID, StatusID
			FROM mes.ProdPlan
			WHERE ProdPlanRowID = @ProdPlanRowID
        
			UNION ALL
        
			-- Рекурсивно находим следующие позиции
			SELECT p.ProdPlanRowID, p.NextProdPlanID, p.StatusID
			FROM mes.ProdPlan p
			JOIN DependentCTE d ON p.ProdPlanRowID = d.NextProdPlanID
		)
		INSERT INTO #DependentRows (ProdPlanRowID, StatusID)
		SELECT DISTINCT ProdPlanRowID, StatusID FROM DependentCTE
		WHERE ProdPlanRowID IS NOT NULL
		
		-- ПРОВЕРКА: если есть зависимые операции со статусом != 1, то запрещаем изменение
		IF EXISTS (SELECT 1 FROM #DependentRows WHERE ProdPlanRowID <> @ProdPlanRowID AND StatusID != 1) BEGIN
			SET @Result = 'Нельзя изменить дату! Есть зависимые операции в процессе изготовления'
			RETURN
		END

		-- Очищаем загрузку только для зависимых позиций
		DELETE FROM mes.ProdPlan_loading
		WHERE ProdPlanRowID IN (SELECT ProdPlanRowID FROM #DependentRows)
    
		-- Обнуляем даты только для зависимых позиций (кроме изменяемой)
		UPDATE mes.ProdPlan 
		SET PlanStartTime = NULL, 
			PlanEndTime = NULL
		WHERE ProdPlanRowID IN (SELECT ProdPlanRowID FROM #DependentRows)
		  AND ProdPlanRowID <> @ProdPlanRowID

		-- Проверяем, является ли дата рабочим днем
		DECLARE @AdjustedDate date = @NewPlanStartDate
    
		IF NOT EXISTS (SELECT 1 FROM dbo.Calendar WHERE OnDate = @AdjustedDate)
		BEGIN
			SELECT TOP 1 @AdjustedDate = OnDate 
			FROM dbo.Calendar 
			WHERE OnDate > @AdjustedDate 
			ORDER BY OnDate
		END
    
		-- Устанавливаем новую дату для измененной позиции
		UPDATE mes.ProdPlan 
		SET PlanStartTime = @AdjustedDate,
			PlanEndTime = NULL  -- Очищаем дату окончания, чтобы процедура пересчитала
		WHERE ProdPlanRowID = @ProdPlanRowID

		-- Вызываем основной расчет плана
		EXEC [mes].[sys_CalcProdPlanLoading] @OrderID, @Result OUTPUT, @Message OUTPUT

		-- Очищаем временную таблицу
		DROP TABLE #DependentRows
	END TRY
	BEGIN CATCH
		SET @Result = 'ERROR'
		SET @Message = ERROR_MESSAGE()
    
		-- Очищаем временную таблицу в случае ошибки
		IF OBJECT_ID('tempdb..#DependentRows') IS NOT NULL
			DROP TABLE #DependentRows
	END CATCH