USE [_box001]
GO
/****** Object:  StoredProcedure [mes].[sys_CalculateAndSavePlan]    Script Date: 27.05.2026 10:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [mes].[sys_CalculateAndSavePlan]
    @OrderID int,
	@UpdateFlag int = 0,  -- 1 - обновить (удалить старые записи), 0 - не обновлять
	@Result varchar(150)=NULL OUTPUT,
	@Message varchar(150)=NULL OUTPUT
AS

SET NOCOUNT ON 
SET DATEFORMAT DMY
SET @Result='OK'

BEGIN
    DECLARE @ItemID int,
			@Qty money;
	DECLARE	@spec table (
        ProcessID int, 
        ParentID int, 
        Qty money, 
        OrderBy varchar(max),
        OrderBySQL varchar(max)
    );

	IF @UpdateFlag = 1 BEGIN
		BEGIN TRY
			DELETE FROM mes.ProdPlan_loading
			WHERE ProdPlanRowID IN (SELECT ProdPlanRowID FROM mes.ProdPlan WHERE OrderID = @OrderID)
			
			DELETE FROM mes.ProdPlan WHERE OrderID = @OrderID
		END TRY
		BEGIN CATCH
			SET @Result = 'Ошибка при удалении старых записей: ' + ERROR_MESSAGE()
			RETURN
		END CATCH
    END
	
	--Проверка, что такие записи УЖЕ ЕСТЬ
	IF EXISTS (SELECT 1 FROM mes.ProdPlan WHERE OrderID = @OrderID)
    BEGIN
        SET @Result = 'План для данного заказа уже расчитан'
        RETURN
    END

    -- Получаем данные из заказа
    SELECT @ItemID = ItemID, @Qty = Qty FROM mes.Orders WHERE OrderID = @OrderID;
    
    IF @ItemID IS NULL OR @Qty IS NULL
    BEGIN
        SET @Result = 'Заказ не найден или не содержит данных'
        RETURN
    END
	
	-- Получаем данные по заказам в spec
	;WITH Down AS (
		SELECT    
			t1.ProcessID,
			NULL AS ParentID,
			@Qty AS Qty,
			@Qty AS ByOne,
			0 AS TreeLevel,
			-- OrderBy для отображения (только номер процесса)
			CAST(ROW_NUMBER() OVER (ORDER BY t1.ProcessID) AS VARCHAR(MAX)) AS OrderBy,
			-- OrderBySQL для сортировки (каждый уровень по 5 цифр)
			RIGHT('00000' + CAST(ROW_NUMBER() OVER (ORDER BY t1.ProcessID) AS VARCHAR(MAX)), 5) AS OrderBySQL
		FROM mes.Process t1
		LEFT JOIN mes.Process_Component t2 ON t1.ProcessID = t2.ChildProcessID
		WHERE t1.ItemID = ISNULL(@ItemID, t1.ItemID)
			AND t2.ProcessComponentID IS NULL  -- Только корневые процессы
		
		UNION ALL
		
		SELECT 
			t1.ChildProcessID,
			t0.ProcessID,
			t0.Qty * t1.Qty,
			t1.Qty,
			t0.TreeLevel + 1,
			-- OrderBy для отображения (иерархия процессов)
			t0.OrderBy + '.' + CAST(ROW_NUMBER() OVER (PARTITION BY t0.ProcessID ORDER BY t1.ChildProcessID) AS VARCHAR(MAX)),
			-- OrderBySQL для сортировки (каждый уровень по 5 цифр)
			t0.OrderBySQL + '.' + RIGHT('00000' + CAST(ROW_NUMBER() OVER (PARTITION BY t0.ProcessID ORDER BY t1.ChildProcessID) AS VARCHAR(MAX)), 5)
		FROM Down t0
		JOIN mes.Process_Component t1 ON t0.ProcessID = t1.ProcessID
		WHERE t1.ChildProcessID IS NOT NULL AND t1.ProcessID != t1.ChildProcessID --Проверка от зацикливания
	)
	INSERT INTO @spec (ProcessID, ParentID, Qty, OrderBy, OrderBySQL)
	SELECT ProcessID, ParentID, Qty, OrderBy, OrderBySQL
	FROM Down

	-- Вставляем данные в таблицу плана
	;WITH ProcessOpStats AS (
		SELECT 
			ProcessID,
			ProcessOpID,
			OpID,
			OpNumber,
			WorkCenterID,
			WorkTimeH,
			ConstTimeH,
			MAX(OpNumber) OVER (PARTITION BY ProcessID) AS MaxOpNumber
		FROM mes.Process_Op
	)
	INSERT INTO mes.ProdPlan (
		OrderID, 
		ProcessID, 
		ProcessOpID, 
		Qty, 
		OpID, 
		OpNumber, 
		WorkCenterID, 
		WorkTimeH, 
		ConstTimeH,
		OperationNumber,
        OperationNumberSQL,
		StatusID
	)
	SELECT 
		@OrderID, 
		t2.ProcessID, 
		t2.ProcessOpID, 
		t1.Qty, 
		t2.OpID, 
		t2.OpNumber, 
		t2.WorkCenterID, 
		case when t2.WorkTimeH is null and t2.ConstTimeH is null then 8 else t2.WorkTimeH end, 
		t2.ConstTimeH,
		CASE 
			WHEN t2.MaxOpNumber = 1 THEN t1.OrderBy
			ELSE t1.OrderBy + '.' + CAST(t2.OpNumber AS VARCHAR(MAX))
		END AS OperationNumber,
		CASE 
			WHEN t2.MaxOpNumber = 1 THEN t1.OrderBySQL
			ELSE t1.OrderBySQL + '.' + RIGHT('00000' + CAST(t2.OpNumber AS VARCHAR(MAX)), 5)
		END AS OperationNumberSQL,
		1
    FROM @spec t1 
    JOIN ProcessOpStats t2 ON t1.ProcessID = t2.ProcessID
    ORDER BY t1.OrderBySQL, t2.OpNumber

	-- Считаем время изготовления всех деталей
	UPDATE mes.ProdPlan 
    SET FullWorkTimeH = Qty * WorkTimeH + ISNULL(ConstTimeH, 0)
    WHERE OrderID = @OrderID

	-- Расставляем ссылки на следующую исполняемую операцию
	UPDATE t1 
    SET NextProdPlanID = t2.ProdPlanRowID
	FROM mes.ProdPlan t1
	JOIN mes.ProdPlan t2 ON t1.OrderID = t2.OrderID 
                        AND t1.ProcessID = t2.ProcessID 
                        AND t1.OpNumber + 1 = t2.OpNumber
	WHERE t1.OrderID = @OrderID
	
	UPDATE t1 
    SET NextProdPlanID = t4.ProdPlanRowID
	FROM mes.ProdPlan t1
	JOIN @spec t2 ON t1.ProcessID = t2.ProcessID
	JOIN @spec t3 ON t2.ParentID = t3.ProcessID
	JOIN mes.ProdPlan t4 ON t4.OrderID = @OrderID 
                        AND t3.ProcessID = t4.ProcessID 
                        AND t4.OpNumber = 1
	WHERE t1.OrderID = @OrderID
	  AND t1.NextProdPlanID IS NULL

	UPDATE t3 
    SET IsStartRow = 1
	FROM @spec t1
	LEFT JOIN @spec t2 ON t1.ProcessID = t2.ParentID
	JOIN mes.ProdPlan t3 ON t3.OrderID = @OrderID 
                        AND t1.ProcessID = t3.ProcessID 
                        AND t3.OpNumber = 1
	WHERE t2.ProcessID IS NULL

	-- Рассчитываем загрузку
    EXEC [mes].[sys_CalcProdPlanLoading] @OrderID, @Result OUTPUT, @Message OUTPUT
END