USE [_box001]
GO
/****** Object:  StoredProcedure [mes].[sys_CalcProdPlanLoading]    Script Date: 25.05.2026 20:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [mes].[sys_CalcProdPlanLoading]
    @OrderID int,
    @Result varchar(150)=NULL OUTPUT,
    @Message varchar(150)=NULL OUTPUT
AS
SET NOCOUNT ON 
SET DATEFORMAT DMY
SET @Result='OK'

BEGIN
    declare @ProdPlanRowID int,
            @WorkCenterID int,
            @StatusID int,
            @WorkTimeMin money,
            @FreeMin money,
            @ShiftMin money,
            @StartDate date,
            @EndDate date,
            @OnDate date,
            @DayPowerMin money,
            @NextProdPlanID int,
            @IsStop bit,
            @ExistingStartDate date,
            @ExistingEndDate date

    -- Проверяем, все ли операции уже рассчитаны
    if not exists (
        select 1 
        from mes.ProdPlan 
        where OrderID = @OrderID 
          and (PlanStartTime is null or PlanEndTime is null)
		  and StatusID = 1
    )
    begin
        RETURN
    end

    -- Курсор по корневым операциям
    declare ROW_CURSOR cursor fast_forward for
        select t1.ProdPlanRowID, t1.WorkCenterID, t1.FullWorkTimeH * 60, t1.NextProdPlanID, IsNull(t2.PowerMin, 0) * 0.85,
               t1.PlanStartTime, t1.PlanEndTime, t1.StatusID
        from mes.ProdPlan t1
        join mes.WorkCenter t2 on t1.WorkCenterID = t2.WorkCenterID
        where t1.OrderID = @OrderID and t1.IsStartRow = 1 and StatusID = 1
        order by LEN(t1.OperationNumberSQL) desc, t1.OperationNumberSQL desc

    open ROW_CURSOR 
    fetch from ROW_CURSOR into @ProdPlanRowID, @WorkCenterID, @WorkTimeMin, @NextProdPlanID, @DayPowerMin, @ExistingStartDate, @ExistingEndDate, @StatusID

    while @@FETCH_STATUS = 0 begin
        set @IsStop = 0
		  -- Пропускаем утвержденные операции (статус 2 и выше)
        IF @StatusID != 1
        BEGIN
            fetch from ROW_CURSOR into @ProdPlanRowID, @WorkCenterID, @WorkTimeMin, @NextProdPlanID, @DayPowerMin, @ExistingStartDate, @ExistingEndDate, @StatusID
            CONTINUE
        END

        -- Удаляем старые загрузки для этой операции
        delete from mes.ProdPlan_loading 
        where ProdPlanRowID = @ProdPlanRowID

        -- Определяем начальную дату
        if @ExistingStartDate is not null and @ExistingEndDate is null
        begin
            -- Только дата начала указана - начинаем с неё
            set @StartDate = @ExistingStartDate
        end
        else if @ExistingStartDate is null and @ExistingEndDate is null
        begin
            -- Обе даты пустые - начинаем с первого рабочего дня >= сегодня
			-- TODO: Вместо сегодня должна быть длительность комплектации самого долгого процесса
            set @StartDate = cast(getdate() as date)
            if not exists (select 1 from dbo.Calendar where OnDate = @StartDate)
                select top 1 @StartDate = OnDate from dbo.Calendar where OnDate > @StartDate order by OnDate
        end
        else
        begin
            -- Обе даты уже указаны - пропускаем эту операцию
            fetch from ROW_CURSOR into @ProdPlanRowID, @WorkCenterID, @WorkTimeMin, @NextProdPlanID, @DayPowerMin, @ExistingStartDate, @ExistingEndDate, @StatusID
            continue
        end

        while @IsStop = 0 begin
            set @OnDate = @StartDate
            declare @FirstWorkDate date = null
            set @EndDate = null
            declare @RemainingWorkTime money = @WorkTimeMin

            -- Распределяем время, пропуская занятые дни
            while @RemainingWorkTime > 0 begin
                set @FreeMin = @DayPowerMin - isnull((
                    select sum(WorkTimeMin) 
                    from mes.ProdPlan_loading with (nolock) 
                    where WorkCenterID = @WorkCenterID and OnDate = @OnDate
                ), 0)

                if @FreeMin <= 0 begin
                    select top 1 @OnDate = OnDate 
                    from dbo.Calendar 
                    where OnDate > @OnDate 
                    order by OnDate
                    continue
                end

                set @ShiftMin = @RemainingWorkTime
                if @ShiftMin > @FreeMin set @ShiftMin = @FreeMin

                insert into mes.ProdPlan_loading (ProdPlanRowID, WorkCenterID, OnDate, WorkTimeMin)
                values (@ProdPlanRowID, @WorkCenterID, @OnDate, @ShiftMin)

                if @FirstWorkDate is null set @FirstWorkDate = @OnDate
                set @EndDate = @OnDate

                set @RemainingWorkTime = @RemainingWorkTime - @ShiftMin
                
                if @RemainingWorkTime > 0 begin
                    select top 1 @OnDate = OnDate 
                    from dbo.Calendar 
                    where OnDate > @OnDate 
                    order by OnDate
                end
            end

            -- Обновляем даты в ProdPlan
            update mes.ProdPlan set
                PlanStartTime = @FirstWorkDate,
                PlanEndTime = @EndDate
            where ProdPlanRowID = @ProdPlanRowID and StatusID = 1

            -- Переход к следующей операции
            set @ProdPlanRowID = null
            select @ProdPlanRowID = t1.ProdPlanRowID, 
                   @WorkCenterID = t1.WorkCenterID, 
                   @WorkTimeMin = t1.FullWorkTimeH * 60,
                   @NextProdPlanID = t1.NextProdPlanID, 
                   @DayPowerMin = 480,
                   @ExistingStartDate = t1.PlanStartTime,
                   @ExistingEndDate = t1.PlanEndTime
            from mes.ProdPlan t1 with (nolock)
            where t1.ProdPlanRowID = @NextProdPlanID

            -- Проверяем, все ли предшественники текущей операции рассчитаны
            if exists (
                select 1 
                from mes.ProdPlan 
                where OrderID = @OrderID 
                  and NextProdPlanID = @ProdPlanRowID 
                  and (PlanStartTime is null or PlanEndTime is null)
				  and StatusID = 1
            )
                set @IsStop = 1

            -- Вычисляем максимальный PlanEndTime среди предшественников
            select @StartDate = max(PlanEndTime)
            from mes.ProdPlan
            where OrderID = @OrderID and NextProdPlanID = @ProdPlanRowID 
			and StatusID = 1

            -- Начинаем со следующего рабочего дня после max(PlanEndTime)
            if @StartDate is not null
                select top 1 @StartDate = OnDate 
                from dbo.Calendar 
                where OnDate > @StartDate 
                order by OnDate

            if @ProdPlanRowID is null
                set @IsStop = 1
        end

        fetch from ROW_CURSOR into @ProdPlanRowID, @WorkCenterID, @WorkTimeMin, @NextProdPlanID, @DayPowerMin, @ExistingStartDate, @ExistingEndDate
    end

    close ROW_CURSOR
    deallocate ROW_CURSOR

    -- Обновляем даты в ProdPlan на основе реальных данных из ProdPlan_loading
    ;with Dates as (
        select ProdPlanRowID, min(OnDate) as MinDate, max(OnDate) as MaxDate
        from mes.ProdPlan_loading pl
        where exists (select 1 from mes.ProdPlan p where p.OrderID = @OrderID and p.ProdPlanRowID = pl.ProdPlanRowID and p.StatusID = 1)
        group by ProdPlanRowID
    )
    update p set
        PlanStartTime = d.MinDate,
        PlanEndTime = d.MaxDate
    from mes.ProdPlan p
    join Dates d on p.ProdPlanRowID = d.ProdPlanRowID
    where p.OrderID = @OrderID
      and (p.PlanStartTime <> d.MinDate or p.PlanEndTime <> d.MaxDate) and p.StatusID = 1

    set @Message = 'Расчет завершен успешно'
END