USE [_box001]
GO
/****** Object:  StoredProcedure [mes].[ext_ProdPlan]    Script Date: 26.05.2026 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [mes].[ext_ProdPlan]
	@ActionID int,
	@OrderID int=NULL,
	@ProdPlanRowID int=NULL,
	@PersonID int=NULL,
	@Note varchar(500)=NULL,
	@Code varchar(150)=NULL,
	@IsApproved int=NULL,
	@StatusID int=NULL,
	@PlanStartTime datetime=NULL,
	@Result varchar(150)=NULL OUTPUT,
	@Message varchar(150)=NULL OUTPUT
AS

set nocount on set dateformat dmy
SET @Result='OK'

-- PlanChart: Получение плана
IF @ActionID=1 begin
	-- Если указан конкретный OrderID и нет данных, то рассчитываем план
	IF @OrderID IS NOT NULL AND (SELECT COUNT(*) FROM mes.ProdPlan t1 (nolock) WHERE t1.OrderID=@OrderID) = 0 BEGIN
      EXEC mes.sys_CalculateAndSavePlan @OrderID=@OrderID
      EXEC mes.sys_CalcProdPlanLoading @OrderID=@OrderID
    END
	
	SELECT  t1.ProdPlanRowID, 
            t3.ProcessName,
            t5.OpName, 
            t1.Qty, 
			t1.PlanStartTime, 
            t1.PlanEndTime,
			t1.StartTime, 
            t1.EndTime,
            t6.WorkCenterName, 
            t1.FullWorkTimeH,
            t2.HexCode,
            t8.DocNumber,
            t9.OutQty, -- получено
            t9.FixQty, -- ожидание
            t9.NotOutQty -- дефицит	
		FROM mes.ProdPlan t1 WITH (nolock)
			JOIN mes.Orders t2 (nolock) ON t1.OrderID = t2.OrderID
			LEFT JOIN mes.Process t3 (nolock) ON t1.ProcessID = t3.ProcessID
			LEFT JOIN mes.Process_Op t4 (nolock) ON t1.ProcessOpID = t4.ProcessOpID
			LEFT JOIN mes.dir_Operation t5 (nolock) ON t1.OpID = t5.OpID
			LEFT JOIN mes.WorkCenter t6 (nolock) ON t1.WorkCenterID = t6.WorkCenterID
			LEFT JOIN mes.ProdPlan t7 (nolock) ON t1.NextProdPlanID = t7.ProdPlanRowID
			LEFT JOIN mes.Orders t8 (nolock) ON t1.OrderID = t8.OrderID
			LEFT JOIN wrh.RequestRow t9 (nolock) ON t1.ProdPlanRowID = t9.ProdPlanRowID
		WHERE (@OrderID IS NULL OR t1.OrderID = @OrderID) and t8.StateID != 50 /*Заказ закрыт*/
		ORDER BY t1.PlanStartTime, t1.PlanEndTime
end

-- PlanChart: Получение загруженности по дням
IF @ActionID=2 begin
	SELECT ProdPlanRowID, OnDate, WorkTimeMin FROM mes.ProdPlan_loading 
	ORDER BY WorkCenterID, OnDate
end

-- MesLibrary: Получение данныx
IF @ActionID=4 begin
	SELECT pp.ProdPlanRowID,
			co.DocNumber AS DocNumberOrderClient,
            o.DocNumber,
            pp.ProcessID,
            do.OpName,
            pp.WorkCenterID,
            pp.PersonID,
            pp.PlanStartTime,
            pp.PlanEndTime,
            pp.StartTime,
            pp.StatusID,
            pp.Note,
            pp.IsApproved
    FROM mes.ProdPlan pp (nolock)
    LEFT JOIN mes.Orders o (nolock) ON pp.OrderID = o.OrderID
    LEFT JOIN crm.ClientOrder_Goods cog (nolock) ON o.OrderGoodID = cog.OrderGoodID
    LEFT JOIN crm.ClientOrder co (nolock) ON cog.ClientOrderID = co.ClientOrderID
    LEFT JOIN mes.Process p (nolock) ON pp.ProcessID = p.ProcessID
    LEFT JOIN mes.Process_Op po (nolock) ON pp.ProcessOpID = po.ProcessOpID
    LEFT JOIN mes.dir_Operation do (nolock) ON pp.OpID = do.OpID
    LEFT JOIN mes.WorkCenter wc (nolock) ON pp.WorkCenterID = wc.WorkCenterID
    LEFT JOIN dbo.Person per (nolock) ON pp.PersonID = per.PersonID
    LEFT JOIN mes.ProcessStatus s (nolock) ON pp.StatusID = s.StatusID
    ORDER BY pp.PlanStartTime;

	-- MesLibrary: получение списков
	 SELECT StatusID,
			StatusName,
			StatusColor
     FROM mes.ProcessStatus
     ORDER BY StatusID;
        
     SELECT WorkCenterID,
			WorkCenterName
     FROM mes.WorkCenter
     ORDER BY WorkCenterName;

     SELECT PersonID,
			PersonName,
			WorkCenterID
     FROM dbo.Person
     ORDER BY PersonName;

	 SELECT ProcessID,
		ProcessName
     FROM mes.Process
     ORDER BY ProcessID;

	--  загруженность сотрудников
	SELECT PersonID, COUNT(ProdPlanRowID) AS CountProcess, SUM(FullWorkTimeH) AS LoadingTimeH
	FROM mes.ProdPlan
	WHERE PersonID IS NOT NULL AND StatusID = 2 /* В работе */
	GROUP BY PersonID, StatusID
	ORDER BY LoadingTimeH;
end

-- MesLibrary: Изменение сотрудника, примечания, ПДЗ, статуса, отправка в работу
IF @ActionID=5 BEGIN
	declare @OldIsApproved INT
	SELECT @OldIsApproved FROM mes.ProdPlan WHERE ProdPlanRowID = @ProdPlanRowID
   
   -- Обновление основных полей
    UPDATE mes.ProdPlan SET 
        PersonID = ISNULL(@PersonID, PersonID),
        Note = ISNULL(@Note, Note),
        StatusID = ISNULL(@StatusID, StatusID),
        IsApproved = ISNULL(@IsApproved, IsApproved)
    WHERE ProdPlanRowID = @ProdPlanRowID
    
    -- Если изменено время начала плана (ПДЗ) - пересчет
    IF @PlanStartTime IS NOT NULL BEGIN
		EXEC [mes].[sys_RecalcProdPlanAfterDateChange] @ProdPlanRowID = @ProdPlanRowID, @NewPlanStartDate = @PlanStartTime
    END 

	-- Создаем ТК
	IF @IsApproved = 1 AND @IsApproved != @OldIsApproved BEGIN
		EXEC wrh.sys_CreateRequestFromProdPlan @ProdPlanRowID = 1418
	END
END

-- MesLibrary: Получение данныx
IF @ActionID=6 begin  
     SELECT WorkCenterID,
			WorkCenterName
     FROM mes.WorkCenter
     ORDER BY WorkCenterName;

     SELECT PersonID,
			PersonName,
			WorkCenterID
     FROM dbo.Person
     ORDER BY PersonName;
		
	SELECT PersonID, COUNT(ProdPlanRowID) AS CountProcess, SUM(FullWorkTimeH) AS LoadingTimeH
	FROM mes.ProdPlan
	WHERE PersonID IS NOT NULL AND StatusID = 2 /* В работе */
	GROUP BY PersonID, StatusID
	ORDER BY LoadingTimeH;
end

-- MesLibrary-Person: План для сотрудников
IF @ActionID=7 begin
	DECLARE @WorkCenterID int, @DepartmentID int
	
	select @PersonID = PersonID, @DepartmentID = DepartmentID
	from dbo.Person
	where cast(cast(right(CONVERT(binary(16), BadgeCode, 1), 8) as binary(8)) as bigint) = @Code
	SELECT @WorkCenterID = WorkCenterID FROM dbo.Person WHERE PersonID = @PersonID;

	SELECT pp.ProdPlanRowID,
			co.DocNumber AS DocNumberOrderClient,
            o.DocNumber,
            pp.ProcessID,
            do.OpName,
            pp.WorkCenterID,
            pp.PersonID,
            pp.PlanStartTime,
            pp.PlanEndTime,
            pp.StartTime,
            pp.StatusID,
            pp.Note,
            pp.IsApproved
    FROM mes.ProdPlan pp (nolock)
    LEFT JOIN mes.Orders o (nolock) ON pp.OrderID = o.OrderID
    LEFT JOIN crm.ClientOrder_Goods cog (nolock) ON o.OrderGoodID = cog.OrderGoodID
    LEFT JOIN crm.ClientOrder co (nolock) ON cog.ClientOrderID = co.ClientOrderID
    LEFT JOIN mes.Process p (nolock) ON pp.ProcessID = p.ProcessID
    LEFT JOIN mes.Process_Op po (nolock) ON pp.ProcessOpID = po.ProcessOpID
    LEFT JOIN mes.dir_Operation do (nolock) ON pp.OpID = do.OpID
    LEFT JOIN mes.WorkCenter wc (nolock) ON pp.WorkCenterID = wc.WorkCenterID
    LEFT JOIN dbo.Person per (nolock) ON pp.PersonID = per.PersonID
    LEFT JOIN mes.ProcessStatus s (nolock) ON pp.StatusID = s.StatusID
	WHERE pp.IsApproved = 1 AND pp.StatusID != 4 AND -- одобрена и не выполненая
	      (pp.PersonID = @PersonID OR pp.PersonID IS NULL) AND -- для конкретного человека либо общая
	      (pp.WorkCenterID = @WorkCenterID) -- рабочий центр сотрудника
    ORDER BY pp.PersonID DESC, pp.PlanStartTime;
	  
	-- MesLibrary: получение списков
	SELECT StatusID,
			StatusName,
			StatusColor
     FROM mes.ProcessStatus
     ORDER BY StatusID;
        
     SELECT WorkCenterID,
			WorkCenterName
     FROM mes.WorkCenter
     ORDER BY WorkCenterName;

     SELECT TOP 1 PersonID, DepartmentID, PersonName, PersonName, WorkCenterID
     FROM dbo.Person
	 WHERE PersonID = @PersonID;

	 SELECT ProcessID,
		ProcessName
     FROM mes.Process
     ORDER BY ProcessID;

	 exec mes.sys_WritingMaterials @ActionID=1, @DepartmentID = @DepartmentID
end

-- MesLibrary-Person: Взять задание в работу
IF @ActionID=8 begin
    UPDATE mes.ProdPlan SET 
        PersonID = ISNULL(@PersonID, PersonID),
        StatusID = 2,
        StartTime = GETDATE()
    WHERE ProdPlanRowID = @ProdPlanRowID
END

-- MesLibrary-Person: Выпуск готовой продукции
IF @ActionID=9 begin
	-- Вставка с проверкой на уникальность
	INSERT INTO mes.Unit (ProdPlanRowID,    ProcessID,    Qty,    DepID, RestQty)
	SELECT			   pp.ProdPlanRowID, pp.ProcessID, pp.Qty, wc.DepID, pp.Qty
	FROM mes.ProdPlan pp
	LEFT JOIN mes.WorkCenter wc on pp.WorkCenterID = wc.WorkCenterID
	WHERE ProdPlanRowID = @ProdPlanRowID 
		AND NOT EXISTS (SELECT 1 FROM mes.Unit WHERE ProdPlanRowID = @ProdPlanRowID);
	
	-- Обновление даты
	IF @@ROWCOUNT > 0 BEGIN
		UPDATE mes.ProdPlan SET StatusID = 4, EndTime = GETDATE()
		WHERE ProdPlanRowID = @ProdPlanRowID;
	END
END

--  PlanChart: Получение дат
IF @ActionID=20 begin
	SELECT  * FROM dbo.Calendar ORDER BY OnDate
end 