USE [_box001]
GO
/****** Object:  StoredProcedure [mes].[obc_Orders]    Script Date: 26.05.2026 1:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [mes].[obc_Orders]
	@ActionID int,
	@OrderID int=NULL,
	@OrderGoodID int=NULL,
	@ClientOrderID int=null,
	@DocNumber varchar(150)=NULL,
	@DocDate date=NULL,
	@ItemID int=NULL,
	@Qty decimal=NULL,
	@ProducedQty decimal=NULL,
	@ToDate date=NULL,
	@StateID int=NULL,
	@Result varchar(150)=NULL OUTPUT,
	@Message varchar(150)=NULL OUTPUT
AS

set nocount on set dateformat dmy
SET @Result='OK'

DECLARE @MaxQty DECIMAL(18,9),
		@AlreadyOrderedQty DECIMAL(18,9),
		@HexCode varchar(7)

IF @ActionID=1 begin
	SELECT t1.*
				, t2.ItemCode
				, t2.ItemName
				, t2.ItemSymbol
				, t3.OrderStateName AS StateID_OrderStateName
				, t5.DocNumber AS DocNumberOrderClient
				, t6.ClientName
		FROM mes.Orders t1 WITH (nolock)
			JOIN dbo.Item t2 (nolock) ON t1.ItemID = t2.ItemID
			JOIN mes.cns_OrderState t3 (nolock) ON t1.StateID = t3.OrderStateID
			JOIN crm.ClientOrder_Goods t4 (nolock) on t1.OrderGoodID = t4.OrderGoodID
			JOIN crm.ClientOrder t5 (nolock) on t4.ClientOrderID = t5.ClientOrderID
			JOIN crm.Client t6 (nolock) on t5.ClientID = t6.ClientID
		WHERE (@OrderID IS NULL OR t1.OrderID=@OrderID) AND (@ClientOrderID IS NULL OR t4.ClientOrderID = @ClientOrderID)
end

IF @ActionID=2 begin
	SELECT t1.DocNumber AS Caption,		-- Наименование экземпляра объекта в карточке
		'Заказ производству'		 AS ColumnCaption,		-- Наименование столбца наименования экземпляра объекта
		''		 AS Note		-- Описание экземпляра объекта
	FROM mes.Orders t1
	WHERE t1.OrderID=@OrderID
end

IF @ActionID=3 begin
	SELECT @ItemID = ItemID, @MaxQty = Qty
		FROM crm.ClientOrder_Goods (nolock) 
		WHERE OrderGoodID = @OrderGoodID

    -- Проверка: Запрашиваемое количество не должно превышать требуемое
    IF @Qty > @MaxQty
    BEGIN
        SET @Result = 'Ошибка! Количество (' + dbo.Decimal2Str(@Qty) + 
                      ') превышает требуемое количество в заказе клиента (' + dbo.Decimal2Str(@MaxQty) + ')'
        RETURN
    END

    -- Проверка существующих заказов по этому товару
    SELECT @AlreadyOrderedQty = ISNULL(SUM(Qty), 0)
    FROM mes.Orders (nolock)
    WHERE OrderGoodID = @OrderGoodID

    -- Проверка: сумма количества по заказам не должна превышать требуемое
    IF (@AlreadyOrderedQty + @Qty) > @MaxQty
    BEGIN
        SET @Result = 'Ошибка! Суммарное количество заказов превышает требуемое количество в заявке клиента'
        RETURN
    END

	DECLARE @NewSeqNumber int
	EXEC [dbo].[sys_DocNumber_Generate] 
		@DocNumberID = 12,
		@NewSeqNumber = @NewSeqNumber OUTPUT,
		@NewDocNumber = @DocNumber OUTPUT

	-- Получаем рандомный цвет
    SELECT TOP 1 @HexCode = HexCode
	FROM mes.HexColors (nolock)
	WHERE IsActive = 1
	ORDER BY NEWID()

    IF @HexCode IS NULL BEGIN
		SET @Result = 'Нет свободных цветов в HexColors для назначения заказу'
        RETURN
    END
    
    -- Помечаем как занятый
    UPDATE mes.HexColors SET IsActive = 0 WHERE HexCode = @HexCode

	INSERT mes.Orders (OrderGoodID,  DocNumber,  DocDate,   ItemID,  Qty,  ProducedQty, ToDate,  StateID,  HexCode)
		VALUES (       @OrderGoodID, @DocNumber, getdate(), @ItemID, @Qty, 0,           @ToDate, 10,       @HexCode)
	set @OrderID = scope_identity()

	-- Вызов процедуры заполнения спецификации
	exec mes.sys_IncludeOrderSpec @OrderID, @ItemID, @Qty
	-- Вызов процедуры расчета плана
	exec mes.sys_CalculateAndSavePlan @OrderID=@OrderID

	SELECT @OrderID AS RowKey	-- Ключ созданного объекта для журналирования
end

IF @ActionID=4 begin
	-- получаем OrderGoodID из текущего заказа
    DECLARE @CurrentOrderGoodID INT
    SELECT @CurrentOrderGoodID = OrderGoodID
		FROM mes.Orders (nolock)
		WHERE OrderID = @OrderID

    -- Получаем лимиты
    SELECT @ItemID = ItemID, @MaxQty = Qty
	  FROM crm.ClientOrder_Goods (nolock) 
	  WHERE OrderGoodID = @CurrentOrderGoodID

	-- Проверка существующих заказов по этому товару (исключая текущий)
    SELECT @AlreadyOrderedQty = ISNULL(SUM(Qty), 0)
		FROM mes.Orders (nolock)
		WHERE OrderGoodID = @CurrentOrderGoodID
			AND OrderID != @OrderID

    -- Проверка: новое количество не превышает лимит
    IF (@AlreadyOrderedQty + @Qty) > @MaxQty
    BEGIN
        SET @Result = 'Ошибка! Суммарное количество заказов превышает требуемое количество в заявке клиента. ' + 
                      'Можно выбрать не больше (' + dbo.Decimal2Str(@MaxQty - @AlreadyOrderedQty) + ')'
        RETURN
    END

    UPDATE mes.Orders SET
        Qty = @Qty,
        ToDate = @ToDate,
        StateID = @StateID
    WHERE OrderID = @OrderID
end

IF @ActionID=5 begin
    SELECT @HexCode = HexCode FROM mes.Orders WHERE OrderID=@OrderID
	
	-- Удаляем заказ
   	DELETE FROM mes.Orders WHERE OrderID=@OrderID

	 -- Освобождаем цвет
    UPDATE mes.HexColors SET IsActive = 1
    WHERE HexCode = @HexCode
end