USE [_box001]
GO
/****** Object:  StoredProcedure [mes].[sys_WritingMaterials]    Script Date: 25.05.2026 20:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Otter
-- Create date: 21.5.2026
-- Description: Возвращает список материалов
-- =============================================
CREATE OR ALTER PROCEDURE [mes].[sys_WritingMaterials]
	@ActionID       INT,
	@DepartmentID   INT=NULL,
	@DocRowID       INT=NULL,
	@Qty            INT=NULL,
	@MeasureID      INT=NULL,
	@ProdPlanRowID  INT=NULL
AS
BEGIN
    SET NOCOUNT ON;
	
	-- Все материалы
	IF @ActionID=1 BEGIN
		select t2.DocRowID, i.ItemSymbol, i.ItemName, t2.RowRest, m.MeasureID, m.Shorten
		from wrh.docs t1
		join wrh.docrows t2 on t1.DocID = t2.DocID
		left join dbo.Item i ON t2.ItemID = i.ItemID
		left join dbo.Measure m ON t2.MeasureID = m.MeasureID
		where t1.DepID_Dst = @DepartmentID
		and t1.IsDeleted = 0
		and t2.IsDeleted = 0
		and t2.RowRest > 0
		and t2.FreeRest > 0
	END
	
	-- Альтернативные ЕИ
	ELSE IF @ActionID=2 BEGIN
		declare @DimensionID INT=NULL
		-- Получаем категорию
		select @DimensionID=DimensionID from dbo.Measure where MeasureID = @MeasureID
	
		-- Выводим все альтернативы, если есть
		  IF @DimensionID IS NOT NULL BEGIN
			select MeasureID, Shorten from dbo.Measure
			where DimensionID = @DimensionID
		  END
		  ELSE BEGIN
			select MeasureID, Shorten from dbo.Measure
			where MeasureID = @MeasureID
		  END
	END

	-- Списываем материалы
	ELSE IF @ActionID=3 BEGIN
		-- Проверка существует ли уже ТК
		declare @ItemID int, @DocID int, @DocNumberID int, @DocNumber varchar(50)
		select @DocID = DocID from wrh.docs where DocTypeID = 5 and DepID_Src = @DepartmentID and DocDate = cast(getdate() as date) 
		-- Создаем, если не существует
		select @DocNumberID = DocNumberID from wrh.cns_DocType (nolock) where DocTypeID = 5 /* ТН */
		if @DocNumberID is not null
			exec dbo.sys_DocNumber_Generate @DocNumberID=@DocNumberID, @NewDocNumber = @DocNumber output
		if @DocID is null begin
			insert wrh.docs (DocTypeID, DepID_Src,     DepID_Dst,     DocNumber, DocDate, DocStateID)
				values (     5,         @DepartmentID, @DepartmentID, @DocNumber, getdate(), 100)
				set @DocID = SCOPE_IDENTITY()
		end

		select @ItemID = ItemID from wrh.docrows where DocRowID = @DocRowID
		-- Списываем материалы
		insert wrh.docrows (RowTypeID, DocID, RowNumber, ITemID, Qty,  MeasureID,  MoveRowID,  ProdPlanRowID)
			select          1,         @DocID, 1,        @ItemID, @Qty, @MeasureID, @DocRowID,  @ProdPlanRowID
			from wrh.docrows t1
			where t1.DocRowID = @DocRowID
	END
		
	-- Списанные материалы
	ELSE IF @ActionID=4 BEGIN 
		select d.DocNumber, d.DocDate, i.ItemSymbol, i.ItemName, dr.Qty, m.Shorten
		from wrh.docrows dr
		left join wrh.docs d on dr.DocID = d.DocID
		left join dbo.Item i ON dr.ItemID = i.ItemID
		left join dbo.Measure m ON dr.MeasureID = m.MeasureID
		where dr.ProdPlanRowID = @ProdPlanRowID
	END
END