USE [_box001]
GO
/****** Object:  StoredProcedure [mes].[sys_GetCompositionForPlan]    Script Date: 26.05.2026 0:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Otter
-- Create date: 20.5.2026
-- Description:	Возвращает комплектацию (детали и процессы) для строки плана
-- =============================================
ALTER PROCEDURE [mes].[sys_GetCompositionForPlan]
	@ProdPlanRowID   INT,
    @IsApproved      INT=0
AS
BEGIN
    SET NOCOUNT ON;
	-- ТК еще не создан
	IF @IsApproved=0 BEGIN
		-- Комплектация
		SELECT pp.ProdPlanRowID, i.ItemID, i.ItemSymbol, i.ItemName, p.Qty, m.Shorten
		FROM mes.Process_Component p
		JOIN mes.ProdPlan pp ON pp.ProcessID = p.ProcessID
		LEFT JOIN mes.Process pr ON p.ProcessID = pr.ProcessID
		LEFT JOIN mes.Process ch ON p.ChildProcessID = ch.ProcessID
		LEFT JOIN dbo.Item i ON p.ItemID = i.ItemID
		LEFT JOIN dbo.Measure m ON p.MeasureID = m.MeasureID
		WHERE pp.ProdPlanRowID = @ProdPlanRowID and i.ItemID IS NOT NULL
		-- ДСПр (Детали собственного производства)
		SELECT pp.ProdPlanRowID, p.ProcessID, ch.ProcessName, p.Qty, m.Shorten
		FROM mes.Process_Component p
		JOIN mes.ProdPlan pp ON pp.ProcessID = p.ProcessID
		LEFT JOIN mes.Process pr ON p.ProcessID = pr.ProcessID
		LEFT JOIN mes.Process ch ON p.ChildProcessID = ch.ProcessID
		LEFT JOIN dbo.Measure m ON p.MeasureID = m.MeasureID
		WHERE pp.ProdPlanRowID = @ProdPlanRowID and ch.ProcessName IS NOT NULL
	END

    -- ТК создан
	ELSE IF @IsApproved=1 BEGIN
		-- Комплектация
		SELECT rr.ProdPlanRowID, d.DepartmentName, i.ItemSymbol, i.ItemName, rr.Qty, rr.OutQty, rr.FixQty, rr.NotOutQty, m.Shorten, rr.Note
		FROM wrh.RequestRow rr
		LEFT JOIN dbo.Item i ON rr.ItemID = i.ItemID
		LEFT JOIN dbo.Measure m ON rr.MeasureID = m.MeasureID
		LEFT JOIN wrh.Request r ON rr.RequestID = r.RequestID
		LEFT JOIN dbo.Department d ON r.DepID_Src = d.DepartmentID
		where rr.ProdPlanRowID = @ProdPlanRowID	
		-- ДСПр (Детали собственного производства)
		SELECT u.ProdPlanRowID, p.ProcessName, u.Qty, u.RestQty, m.Shorten
		FROM mes.Unit u
		JOIN mes.ProdPlan pp ON u.ProdPlanRowID = pp.ProdPlanRowID
		LEFT JOIN mes.Process p ON u.ProcessID = p.ProcessID
		LEFT JOIN dbo.Measure m ON p.MeasureID = m.MeasureID
		WHERE pp.ProdPlanRowID = @ProdPlanRowID		
	END
END