USE [_box001]
GO
/****** Object:  UserDefinedFunction [wrh].[GetRest]    Script Date: 25.05.2026 20:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER FUNCTION [wrh].[GetRest] (@ItemID int, @DepartmentID int, @IsZeroVisible bit)
RETURNS 
@res table
(
	ItemID		int,
	RestQty		decimal(18,9),
	StockQty	decimal(18,9),
	RestString	nvarchar(500)
)
AS
BEGIN
	insert @res
		select	  t1.ItemID
				, sum(t1.RowRest) AS RowRest
				, sum(case when t1.DepID_Dst = 8 then t1.RowRest else 0 end) AS StockQty
				, STRING_AGG(coalesce(t2.Shorten, t2.Number, t2.DepartmentName) + '=' + dbo.Decimal2Str(round(t1.RowRest, 3)) + case t1.IsToll when 1 then ' (дм)' else '' end, '; ') within group (order by t2.OrderBy, t2.Number)
		from (
			select    t1.ItemID
					, t2.DepID_Dst
					, sum(t1.RowRest - IsNull(t3.InvalidQty, 0)) AS RowRest		-- Учитываем количество брака, не прошедшее ВК
					, t1.IsToll
			from wrh.docrows t1 (nolock)
				join wrh.docs t2 (nolock) on t1.DocID = t2.DocID
				left join wrh.docrow_control t3 (nolock) on t1.DocRowID = t3.DocRowID
			where t1.RowTypeID & 2 > 0
				and t1.IsDeleted = 0
				and (@IsZeroVisible = 1 or t1.RowRest > 0)
				and (@ItemID is null or t1.ItemID = @ItemID)
				and (@DepartmentID is null or t2.DepID_Dst = @DepartmentID)
			group by t1.ItemID
					, t2.DepID_Dst 
					, t1.IsToll
			) t1
			join dbo.Department t2 on t1.DepID_Dst = t2.DepartmentID
		group by t1.ItemID
	RETURN 
END
